@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  --body-background-color: #002b36; /* solarized base03 */
  --border-color: #e0e0e0;
  --subtitle-color: #93a1a1; /* solarized base1 */
  --title-color: #dc332f; /* solarized red */
  --new-background-color: #81c784;
  --new-border-color: #757575;
  --hover-color: #268bd2; /* solarized blue */
  --link-color: #2aa198; /* solarized cyan */
  --text-color: #586e75; /* solarized base01 */

  --right-font-family: "Share Tech Mono";
  --left-font-family: "Share Tech Mono";
}

body, html {
  color: var(--subtitle-color);
  padding-top:2.5em;
  background-color: var(--body-background-color);
}

.note {
  display:block;
  position: absolute;
  top:10px;
  left:10px;

  font-family: var(--right-font-family);
}

.new {
  background-color: var(--new-background-color);
  border: 1px solid var(--border-color);
  padding: 1px;
  border-radius: 4px;

}

/* Header */

header {
  width:100%;
  vertical-align: middle;
  text-align: center;
}

.header-content {
  display: inline-block;
}

.pic {
  margin: 0 auto;
  margin-top:-2.5em;
  border-radius:10em;
  height:4em;
  width:4em;
  border: 2px solid var(--border-color);
  transition : all 0.5s linear;

}

@-webkit-keyframes wiggle {
  0%   {
    transform: rotate(0deg);
  }
  25%  {
    transform: rotate(-30deg);
  }
  50%  {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.pic:hover {
  /*Webkit fix*/
  -webkit-transform: translateZ(0);

  cursor:pointer;

  -webkit-animation: wiggle 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.header-text {
  margin-top:0.5em;
  margin-left:1em;
}

header p {
  text-align:center;
  font-family: var(--left-font-family);
  margin:0;
  color: var(--title-color);
}

.first-name {
}

.title {
  color: var(--subtitle-color);
}

.subtitle {
  font-family: var(--left-font-family);
  padding-top:.3em;
  color: var(--subtitle-color);
}

/* Information */

.paper {
  background-color: var(--body-background-color);
}

@media(max-width:992px) {
  .paper {
    width:80%;
  }
}

/* Content Part */

.content-wrapper {
  padding-right:7.25%;
}

.content {
  display:table;
  width:100%;

  padding-top:1.5em;
}

.content:last-child {
  margin-bottom: 2em;
}

body > div > article > div > section:last-child {
  padding-bottom:1.5em;
}

.row {
    display:table-row;
}
.row div {
    display:table-cell;
}

.content-cat {
  font-family: var(--left-font-family);
  color: var(--title-color);
  text-align:right;
  vertical-align:middle;
  padding-right:1%;
  width:30%;
}

.content-cat p {
  margin-bottom:0;
}

.content-text {
  border-left:1px solid var(--border-color);
  transition: border 0.66s ease-in;
}

.big-text {
  vertical-align:top;
}

.content-text ul {
  padding:0;
  margin:0;
  margin-top:0.15em;
  width:85%;
  margin-left:1.5em;
}

.content-text ul:last-child {
  margin-bottom:0.5em;
}

.content-text ul li {
  font-family: var(--right-font-family);
  display:inline-block;
}

.content-text ul li:first-child {
  width:35%;
}

.content-text ul li a, div.content-text.work-listing.education-listing > p > strong > a {
  text-decoration: none;
  color: var(--link-color);
}

.content-text ul li a:hover {
  color: var(--hover-color);
}

.work-listing p {
  font-family: var(--right-font-family);
  margin-left:2em;
  margin-top:0.45em;
  margin-bottom: 0.45em;
}

div.content-text.work-listing.education-listing > p:nth-child(2) {
  margin-top:0.25em;
}

.work-listing .highlight {
  font-family: var(--right-font-family);
  color: var(--subtitle-color);
  margin-left:3.25em;
  list-style-type: disc;
  list-style-position: inside;
  display: list-item;
}

.education-listing > .heading {
  margin-top:0.75em;
  margin-left:2em;
}

.education-listing > .highlight {
  margin-left:3.25em;
}

.highlight {
  transition: border .33s ease-in;
}

.profiles-listing ul li, .profiles-listing ul li:first-child {
  width:32%;
}

.work-content, .education-content {
  padding-top: .75em;
  page-break-inside: avoid;
}

section.content.education-content > div > div.content-cat {
  vertical-align: top;
}

div.content-text.skills-listing > p {
  font-family: var(--right-font-family);
  margin-left: 2em;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

div.content-text.skills-listing > p > {
  color: var(--header-p-color);
}

@media screen and (max-width: 600px) {
  body, html {
    padding-top: 30px;
  }

  .paper {
    width:95%;
  }

  .row div {
    display: block;
  }

  .content-cat {
    width: 100%;
  }

  .content-text ul li {
    width: 100%;
  }

  .content-text ul li:first-child {
    width: 100%;
  }

  .education-listing > .highlight {
    margin-left: 30px;
  }
}
